/* Estilo Global */
body {
  background-image: url('https://transparenttextures.com'), linear-gradient(#313131, #1a1a1a);
  background-color: #313131;
  color: #fff;
  font-family: 'Press Start 2P', cursive;
  font-size: 16px;
  line-height: 1.5;
  padding: 20px;
  image-rendering: pixelated;
}


h1 {
  color: #55FF55;
  text-align: center;
  text-shadow: 4px 4px #000;
  margin-bottom: 40px;
  letter-spacing: 2px;
}

/* Container de Filtros */
.filtros {
  display: flex;
  flex-wrap: wrap; /* Ajuste para telas menores */
  gap: 10px;
  justify-content: center;
  margin-bottom: 40px;
  background: rgba(0, 0, 0, 0.3);
  padding: 20px;
  border: 4px solid #000;
}

/* Inputs e Botões Estilo Minecraft UI */
.search-input, button {
  font-family: 'Press Start 2P', cursive;
  color: #E0E0E0;
  background-color: #8B8B8B;
  border: 4px solid;
  /* Bordas do Minecraft: Topo/Esquerda claras, Base/Direita escuras */
  border-color: #DBDBDB #373737 #373737 #DBDBDB; 
  padding: 12px;
  outline: none;
  text-shadow: 2px 2px #373737;
  cursor: pointer;
}

/* Input de busca específico */
.search-input {
  background-color: #000;
  border-color: #373737 #DBDBDB #DBDBDB #373737; /* Invertido para parecer um buraco/campo */
  color: #55FF55;
  padding-left: 15px;
}

/* Efeito de Hover e Active */
button:hover {
  background-color: #5555FF; /* Azul de seleção clássico */
  color: #FFFF55;
  border-color: #8B8B8B #0000AA #0000AA #8B8B8B;
}

button:active {
  background-color: #38E100; /* Verde ao confirmar clique */
  border-color: #004400 #8B8B8B #8B8B8B #004400;
  transform: translateY(2px);
}

button {
  font-size: 14px; 
  padding: 15px 25px; 
}

.search-input {
  font-size: 14px;
}

/* O Card estilo Inventário/Slot */
.card {
  background-color: #C6C6C6;
  border: 4px solid;
  border-color: #FFF #555 #555 #FFF; /* Relevo de slot de item */
  padding: 20px;
  box-shadow: 4px 4px 0px #000;
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.02);
  background-color: #D6D6D6;
}

.card img {
  width: 96px; /* Múltiplo de 16 para pixel art */
  height: 96px;
  background-color: #8B8B8B;
  border: 4px solid #373737;
  image-rendering: pixelated;
  box-shadow: inset 4px 4px 10px #000;
}

.card h2 {
  font-size: 18px; /* Nome do item maior */
  color: #313131;
  text-shadow: none;
  margin: 15px 0;
  background: rgba(255, 255, 255, 0.2);
  padding: 5px;
}

.card p {
  font-size: 12px; 
  color: #222;
  text-align: left; 
  line-height: 1.4;
  text-shadow: none;
}

/* Scrollbar Estilo Jogo */
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: #313131;
}
::-webkit-scrollbar-thumb {
  background: #8B8B8B;
  border: 3px solid #373737;
}
